body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

pre {
    margin-bottom: 15px;
    background-color: #f8fafc;
    padding: 3px 6px;
    border: 1px solid #e5e5ee;
}

code {
    color: #3d3d2a;
    font-weight: 700;
}

.art-container {
    background-color: #ffffff;
    max-width: 700px;
    min-width: 500px;
    margin: auto;
    border-right: 1px solid #e5e5ee;
    border-left: 1px solid #e5e5ee;
    padding: 32px;
}