{
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "quotes": [
      "error",
      "single",
      "avoid-escape"
    ],
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-shadow": "off",
    "no-loop-func": "off",
    "eol-last": "off",
    "no-use-before-define": [
      "error",
      "nofunc"
    ],
    "new-cap": "off",
    "no-constant-condition": "off"
  }
}
