body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    padding-left: 32px;
}

h4 {
    color: hsl(0, 0%, 46%);
    font-weight: normal;
    margin-top: 40px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
}

time {
    color: #525252;
}

.status {
    background-color: #FDFDFD;
    border: 1px solid #F4F4F4;
    padding: 1px 3px;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
}

.active {
    color: hsl(98, 100%, 26%);
}

.paused {
    color: hsl(50, 100%, 27%);
}

.probably-abandoned {
    color: hsl(4, 65%, 52%);
}