body {
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 32px;
}

h4 {
    color: #AAA;
    font-weight: normal;
    margin-top: 40px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
}

time {
    color: #525252;
}

.status {
    background-color: #FDFDFD;
    border: 1px solid #F4F4F4;
    padding: 1px 3px;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
}

.active {
    color: #46c200;
}

.paused {
    color: #d0ac00;
}

.probably-abandoned {
    color: #e64b3f;
}