<!DOCTYPE html>

<html>
<head>
	<title><%= title %></title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" media="all" href="../../static/docco-small-tab.css">
	<link rel="stylesheet" media="all" href="../../static/highlight.css">
	<link rel="stylesheet" media="all" href="../../static/markdown.css">
	<% if (typeof extraCss !== 'undefined') { %>
	<link rel="stylesheet" media="all" href="<%= extraCss %>">
	<% } %>
</head>
<body>
	<div class="art-container">
		<div><a href="../../index.html">Back to index</a></div>
		<%= content %>
	</div>
</body>
</html>
